* {margin: 0; padding: 0; box-sizing: border-box;}

.mainWindow {
  height: 300px;
  width: 400px;
  overflow: hidden;
  margin: 100px auto;
}
.images {
  display: flex;
  /* align-items: flex-start; */
  transition: all 0.5s;
}

#buttonWrapper {
  text-align: center;
}
